name: schema-verify
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
jobs:
  schema-verify-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with: 
          python-version: '3.10' 
      - run: pip install check-jsonschema
      - run: check-jsonschema --schemafile schema.json exitramps.json
